- name: Install Docker
  hosts: web
  become: yes

  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install prerequisite packages
      apt:
        name:
          - docker.io
        state: present

    - name: Ensure Docker service is started and enabled
      service:
        name: docker
        state: started
        enabled: yes
    
    - name: Install Docker Compose
      apt:
        name:
          - docker-compose
        state: present

    - name: create user docker group
      group:
        name: docker
        state: present

    - name: add user to docker group
      user:
        name: ubuntu
        groups: docker
        append: yes

    - name: Check Docker Swarm status
      command: docker info
      register: docker_info
      changed_when: false

    - name: Initialize Docker Swarm
      command: docker swarm init
      when: "'Swarm: active' not in docker_info.stdout"

    - name: Create application directory
      file:
        path: /home/ubuntu/app
        state: directory
        owner: ubuntu
        group: ubuntu
        mode: "0755"

    - name: Copy docker-compose.yml to EC2
      copy:
        src: docker-compose.yml
        dest: /home/ubuntu/app/docker-compose.yml
        owner: ubuntu
        group: ubuntu
        mode: "0644"  